<script>
  !function ($) {
    $(function(){
      // carousel demo
      $('#myCarousel').carousel()
    })
  }(window.jQuery)
</script>


<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("groundbreaking/IMG_7799.jpg") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Groundbreaking Ceremony</h1>
		<p class="lead">September 22, 2012</p>
          <%= link_to 'Please Join us', start_path, :class => "btn btn-large btn-primary" %>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag("groundbreaking/IMG_7782.jpg") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Transforming the life of each child we serve</h1>
          <%= link_to 'Please Join us', start_path, :class => "btn btn-large btn-primary" %>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag("groundbreaking/IMG_7393.jpg") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Building on Strength<br> for a Bright Future</h1>
          <%= link_to 'Please Join us', start_path, :class => "btn btn-large btn-primary" %>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->



