<script>
  !function ($) {
    $(function(){
      // carousel demo
      $('#myCarousel').carousel()
    })
  }(window.jQuery)
</script>

<style>


/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}

.carousel .container {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel-control {
  background-color: transparent;
  border: 0;
  font-size: 120px;
  margin-top: 0;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel .item {
}
.carousel img {
  min-width: 100%;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  padding: 0 20px;
  margin-bottom: 10px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}






</style>

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("groundbreaking/IMG_7799.jpg") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Groundbreaking Ceremony</h1>
		<p class="lead">September 22, 2012</p>
          <%= link_to 'Please Join us', start_path, :class => "btn btn-large btn-primary" %>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag("groundbreaking/IMG_7782.jpg") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Transforming the life<br> of each child we serve</h1>
          <%= link_to 'Please Join us', start_path, :class => "btn btn-large btn-primary" %>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag("groundbreaking/IMG_7393.jpg") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Building on Strengths to overcome challenges for a Bright Future</h1>
          <%= link_to 'Please Join us', start_path, :class => "btn btn-large btn-primary" %>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->



