

<div class='row'>
	<div class='span6'>
		<div class='introbox'>
	    	<h4>Welcome to our Collaboration</h4>
	    	<p>A place to store information and collect ideas on how best to help our two schools and their students achieve their fullest potential.</p>
			<p><%= link_to 'Join the Discussion &raquo;'.html_safe, posts_path , :class => "btn btn-small btn-success" %></p>
		</div>		    
	</div>
	
	<div class='span6'>
		<div class='introbox'>
			<h4>News</h4>
			<% @news.each do |post| %>
	    	<b><em style='font-size:16px;'><%= post.title %></em></b>
	    	<p><%= post.attachments.first.description.html_safe %>
			   <code><%= link_to 'Read Item', post_path(post) %></code> |
 					 <%= post.created_at.strftime('%b-%d-%Y') %></p>
	
	<hr>
			<% end %>
				<%= will_paginate @news, :class => 'pagination pagination-right pagination-small'%>
			
		</div>		    
	</div>
</div>

	<div class="row">		
        <div class="span4 schoolbox">
		    <h4>The Sonia Shankman Orthogenic School</h4>
		    <p><%= image_tag('Orthogenic_front.jpeg', :size => '100x75', :style => 'float:right;margin: 4px;' ) %> The Orthogenic School is a residential and day school for bright students who are coping with profound emotional challenges. Over the course of nearly 100 years, the O-School’s distinctive blend of academic rigor and relationship-based treatment has enabled more than 80 percent of students to return home to their families and mainstream schools. 
		</p>
        </div><!--/span-->

        <div class="span4 schoolbox">
		    <h4>Our New Campus</h4>
			<p><%= image_tag('NewCampusRendering.png', :size => '150x100', :style => 'float:right;margin: 4px;') %>
		    
			Our expansion will enable us to reach more children and families than ever before.  
			Our new space will also equip us to better serve the community 
			around us. The campus will transform nearly a full city block in Woodlawn 
			and will offer neighborhood residents facilities and resources not currently 
			available to them.
		</p>
        </div><!--/span-->


        <div class="span4 schoolbox">
		    <h4>The Hyde Park Day School</h4>
		    <p><%= image_tag('HPD_Chi.png', :size => '100x90', :style => 'float:right;margin: 4px;' ) %> Hyde Park Day School offers bright students with learning disabilities an innovative and comprehensive education. Our intensive, individualized curriculum prepares students for successful transitions to mainstream schools.  <%= image_tag('HPD_Nfld.png', :size => '100x90', :style => 'float:left;margin: 4px;' ) %>Our teachers and staff focus on academic and self-advocacy skills in a collaborative environment, enhancing students’ self-esteem and self confidence while fostering a positive attitude toward learning.</p>
        </div><!--/span-->
     </div><!--/row-->






