<%= simple_form_for(@post, :html => { :class => 'form-vertical span9' } ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
		<div class='row'>
			<div class='span4'>
				<label for="stackedSelect">Title</label>
    			<%= f.text_field :title  , :class => "span4" %>
			</div>
			<div class='span4'>
				<label for="stackedSelect">Type of Item</label>
				<%= f.select :type_is , [ 'Discussion', 'News' ] , :selected => @item_type %>
			</div>
		</div>
		
	<label for="stackedSelect">Message</label>
    <%= f.text_area :body , :class => "input textarea span8", :rows => 10  %>
	<%= f.hidden_field :user_id , :value => current_user.id %>

<h4>Attachments:</h4>
		<%= f.fields_for :attachments do |attach| %>
		<div class='row'>
			<div class='span4'>
					<label for="stackedSelect">URL</label>
					<%= attach.text_field :url , :class => "input span3"%>
					<label for="stackedSelect">Description</label>
					<%= attach.text_field :description %>
			</div>
			<div class='span4'>
					<label for="stackedSelect">file</label>
					<%= attach.file_field :image %>
			</div>

		</div>
	<% end %>
	
  </div>

  <div class="form-actions">
    <%= f.button :submit , 'Save' %> | 
	<%= link_to 'Cancel', @post %>
  </div>
<% end %>
