
<div class="row">
  <div class="span9 offset1">
	<% current_user.id != @post.user_id ? box = 'blank_box' : box = 'message_box' %>
	  <div class="<%= box %>">
		<% if current_user.id == @post.user_id %>

		<div class="btn-group left_corner">
		  <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
		    Edit Message
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
			<%= link_to 'Edit', edit_post_path(@post) %>
			<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
		  </ul>
		</div>


		<% end %>
	
		<div class='lead' style='border-bottom:thin dotted #000000;
		}'><%= link_to @post.title, @post %></div>
		<small><%= User.find(@post.user_id).name %> on <%= @post.created_at.strftime('%b-%d-%Y') %><br>
		Comments: <%= @post.comments.count %> | 
		<span class="<%= type_color(@post.type_is) %>"><%= @post.type_is %></span></small>
		<%= link_to 'Read more', @post, :class => 'btn btn-success btn-mini pull-right' %>
	    <p style='font-size:14px;line-height:120%;'><%= @post.body.html_safe %></p>
	</div>	
	

	<div class='row pull-right'>
	Created by: <b><%= User.find(@post.user_id).name %></b> on <%= @post.created_at.strftime('%b %d, %Y') %>
	</div><br>
	    
	<div id='comment'></div>

	<%= render 'comments'%>
	
  </div><!--/span-->


</div><!--/row-->

<br>


