
<div class="row">
  <div class="span9 offset1">
	<% current_user.id != @post.user_id ? box = 'blank_box' : box = 'message_box' %>
	  <div class="<%= box %>">
		<% if current_user.id == @post.user_id %>

		<div class="btn-group left_corner">
		  <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
		    Edit Message
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
			<%= link_to 'Edit', edit_post_path(@post) %>
			<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
		  </ul>
		</div>


		<% end %>
		
		<div class='lead' style='border-bottom:thin dotted #000000;'><%= link_to @post.title, @post %></div>


<%= @post.attachments.first.description.html_safe %><br>
<br><b>Attachments:</b>
<% if @post.file_count('url')[0] > 0 %>
<code><%= link_to @post.attachments.first.image_file_name, "http://" + @post.attachments.first.url, :target => '_blank' %></code><br>
<% end %>
<% if @post.file_count('file')[0] > 0 %>
<code><%= link_to @post.attachments.first.image_file_name, @post.attachments.first.image.url, :target => '_blank' %></code><br>
<% end %> 
<% if @post.file_count('image')[0] > 0 %>
<code><%= link_to @post.attachments.first.image_file_name, @post.attachments.first.image.url, :target => '_blank' %></code><br>
<% end %> 
<br>
<p style='font-size:16px;line-height:120%;'><%= @post.body.html_safe %></p>
	
	
	
	</div>	
	

	<div class='row pull-right'>
	Created by: <b><%= User.find(@post.user_id).name %></b> on <%= @post.created_at.strftime('%b %d, %Y') %>
	</div><br>
	    
	<div id='comment'></div>

	<%= render 'comments'%>
	
  </div><!--/span-->


</div><!--/row-->

<br>


