<h3>Discussion</h3>

<div class='row'>
<div class='span11 offset1'>
<table class='center_table'>

<% @posts.each do |post| %>
  <tr><td></td>
	<% post.body.length > 400 ? body = post.body[0..400].html_safe + '...' : body = post.body.html_safe %>
    <td>
		<div class='row'>
				<div class='span4 well' style='padding:15px;'>
					<div class='lead'><%= link_to post.title, post %></div><br>
		    		<%= User.find(post.user_id).name %> on <small><%= post.created_at.strftime('%b-%d-%Y') %></small><br>
					Comments: <%= post.comments.count %>
				</div>
				<div class='span7 well' style='background-color:white;'>
		    		<%= body %><br>
				</div>
		</div>
		<br>
	</td>
  <td></td></tr>
<% end %>
</table>
</div>
</div>

<br />

<%= link_to 'New Discussion', new_post_path, :class => 'btn btn-primary btn-mini' %>
