<%= link_to 'Stand Tall', start_path, :class => 'brand' %>

<% if user_signed_in? %>

<ul class='nav'>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">The Campaign <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Stand Tall Website', 'http://www.standtallcampaign.org', :target => '_blank' %></li>
      <li class="divider"></li>
      <li class="nav-header">New Campus Info</li>
      <li><%= link_to 'Start Page', events_path %></li>
      <li><%= link_to 'Groundbreaking Ceremony', groundbreaking_path %></li>
    </ul>
  </li>
</ul>

<ul class='nav'>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Get Involved <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li class="nav-header">Collaboration</li>
      <li><%= link_to 'Discussion and Messages', posts_path %></li>
      <li class="divider"></li>
      <li class="nav-header">Benefit Activities</li>
      <li><%= link_to 'Make a Contribution', donate_path %></li>
    </ul>
  </li>
</ul>

<% end %>

<ul class="nav pull-right">
  <% if user_signed_in? %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %><b class="caret"></b></a>
    <ul class="dropdown-menu">
	    <li><%= link_to 'Edit account', edit_user_registration_path %></li>
      	<li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
	    <% if current_user.has_role? :admin %>
	      <li><%= link_to 'Admin', users_path %></li>
	    <% end %>
    </ul>
  </li>
  <% else %>
    <li><%= link_to 'Login', new_user_session_path %></li>
  <% end %>
</ul>

